

<section class="product-hero product-hero__speksed">
  <div class="speksed__inner">
  <div class=" full-width__video">
    <div class="wrapper">
          <div class="video-wrapper">

                    <iframe class="video-wrapper-desktop-iframe" src="https://www.youtube.com/embed/aSGjq_UfRmM?rel=0&amp;showinfo=0&autoplay=1&controls=0&loop=1&playlist=aSGjq_UfRmM&mute=1&enablejsapi=1" width="100%" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

          </div>

    </div>
  </div>
  <div class="speksed__how-to">
    <div class="speksed__title">
      <img  class="lazyload" data-src="{{ '../assets/speks-ed.png' | asset_url }}">
      <h6>103: the hex sphere.</h6>
    </div>
    <div class="speksed__instructions speks speks-slider speks-slider__green">
      <div class="step">
        <div class="image">
        <img  class="lazyload" data-src="{{ '../assets/hex-1.svg' | asset_url }}">
        </div>
        <h6>step one.</h6>
        <p>begin by creating an 18 spek hex. repeat until you have 20 hexes. </p>
      </div>
      <div class="step">
        <div class="image">
          <img  class="lazyload" data-src="{{ '../assets/hex-2.svg' | asset_url }}">
        </div>
        <h6>quick tip.</h6>
        <p>hex’s are made of interlocking speks, but make sure to align  them when connecting shapes! </p>
      </div>
      <div class="step">
        <div class="image">
          <img  class="lazyload" data-src="{{ '../assets/hex-3.svg' | asset_url }}">
        </div>
        <h6>step two.</h6>
        <p>slowly and carefully begin connecting your hex sheets flat like they are above…</p>
      </div>
      <div class="step">
        <div class="image">
        <img  class="lazyload" data-src="{{ '../assets/hex-3.svg' | asset_url }}">
        </div>
        <h6>step three.</h6>
        <p>start closing your sphere by connecting each group of five at the highlighted speks. it will start to roll in ?by itself.</p>
      </div>

    </div>

  </div>

</div>

</section>

{% schema %}
  {
    "name": "SpeksEd",

    "presets": [
      {
        "name": "SpeksEd",
        "category": "Image"
      }
    ]
  }
{% endschema %}
