
<section class="supers__unbox">
  {% if section.settings.title != blank %}
    <h3>{{ section.settings.title | escape }}</h3>
  {% endif %}
    <div class="unbox__wrapper">
      <div class="unbox__col unbox__col-left">
        {% if section.settings.image_1 != blank %}
        <div class="unbox__item" data-aos="fade-up" data-aos-delay="250" data-aos-offset="130">
          {% include 'responsive-image' with
            image: section.settings.image_1,
            max_width: 300,
            max_height: 300
          %}
          {% if section.settings.label_1 != blank %}
        <p>{{ section.settings.label_1 }}</p>
        {% endif %}

      </div>
      {% endif %}

        {% if section.settings.image_2 != blank %}
        <div class="unbox__item" data-aos="fade-up" data-aos-delay="250" data-aos-offset="130">
          {% include 'responsive-image' with
            image: section.settings.image_2,
            max_width: 300,
            max_height: 300
          %}
          {% if section.settings.label_2 != blank %}
        <p>{{ section.settings.label_2 }}</p>
        {% endif %}
      </div>
        {% endif %}
      </div>
      <div class="unbox__col unbox__col-center" data-aos="fade-up" data-aos-offset="130">
          {% if section.settings.image_3 != blank %}
          <div class="unbox__item">
            {% include 'responsive-image' with
              image: section.settings.image_3,
              max_width: 500,
              max_height: 500
            %}
            {% if section.settings.label_3 != blank %}
          <p>{{ section.settings.label_3 }}</p>
          {% endif %}
        </div>
          {% endif %}
      </div>
      <div class="unbox__col unbox__col-right">
        {% if section.settings.image_4 != blank %}
        <div class="unbox__item" data-aos="fade-up" data-aos-delay="450" data-aos-offset="130">
          {% include 'responsive-image' with
            image: section.settings.image_4,
            max_width:500,
            max_height: 500
          %}
          {% if section.settings.label_4 != blank %}
        <p>{{ section.settings.label_4 }}</p>
        {% endif %}
      </div>
        {% endif %}
        {% if section.settings.image_5 != blank %}
        <div class="unbox__item" data-aos="fade-up" data-aos-delay="450" data-aos-offset="130">
          {% include 'responsive-image' with
            image: section.settings.image_5,
            max_width: 300,
            max_height: 300
          %}
          {% if section.settings.label_5 != blank %}
        <p>{{ section.settings.label_5 }}</p>
        {% endif %}
      </div>
        {% endif %}
      </div>
      </div>

      <div class="unbox__wrapper-mobile speks-slider speks-slider__green">
          {% if section.settings.image_1 != blank %}
          <div class="unbox__item">
            {% include 'responsive-image' with
              image: section.settings.image_1,
              max_width: 300,
              max_height: 300
            %}
            {% if section.settings.label_1 != blank %}
          <p>{{ section.settings.label_1 }}</p>
          {% endif %}

        </div>
        {% endif %}

          {% if section.settings.image_2 != blank %}
          <div class="unbox__item">
            {% include 'responsive-image' with
              image: section.settings.image_2,
              max_width: 300,
              max_height: 300
            %}
            {% if section.settings.label_2 != blank %}
          <p>{{ section.settings.label_2 }}</p>
          {% endif %}
        </div>
          {% endif %}
            {% if section.settings.image_3 != blank %}
            <div class="unbox__item">
              {% include 'responsive-image' with
                image: section.settings.image_3,
                max_width: 500,
                max_height: 500
              %}
              {% if section.settings.label_3 != blank %}
            <p>{{ section.settings.label_3 }}</p>
            {% endif %}
          </div>
            {% endif %}

          {% if section.settings.image_4 != blank %}
          <div class="unbox__item">
            {% include 'responsive-image' with
              image: section.settings.image_4,
              max_width: 170,
              max_height: 170
            %}
            {% if section.settings.label_4 != blank %}
          <p>{{ section.settings.label_4 }}</p>
          {% endif %}
        </div>
          {% endif %}
          {% if section.settings.image_5 != blank %}
          <div class="unbox__item">
            {% include 'responsive-image' with
              image: section.settings.image_5,
              max_width: 300,
              max_height: 300
            %}
            {% if section.settings.label_5 != blank %}
          <p>{{ section.settings.label_5 }}</p>
          {% endif %}
        </div>
          {% endif %}
        </div>

    </div>
    </div>
</section>

{% schema %}
  {
    "name": "Unbox Speks",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Product Hero"
    },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Left Image 1"
      },
      {
        "type": "text",
        "id": "label_1",
        "label": "Left Image 1 Label"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Left Image 2"
      },
      {
        "type": "text",
        "id": "label_2",
        "label": "Left Image 2 Label"
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "Center Image"
      },
      {
        "type": "text",
        "id": "label_3",
        "label": "Center Image Label"
      },
      {
        "type": "image_picker",
        "id": "image_4",
        "label": "Right Image 1"
      },
      {
        "type": "text",
        "id": "label_4",
        "label": "Right Image 1 Label"
      },
      {
        "type": "image_picker",
        "id": "image_5",
        "label": "Right Image 2"
      },
      {
        "type": "text",
        "id": "label_5",
        "label": "Right Image 2 Label"
      }

    ],
    "presets": [
      {
        "name": "Unbox Speks",
        "category": "Image"
      }
    ]
  }
{% endschema %}
